@using Microsoft.AspNetCore.Identity
@inject SignInManager<SiteUser> SignInManager
@inject UserManager<SiteUser> UserManager

@model Course

@{
    Layout = "_Layout";
}

<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-8">
                <div class="mb-5">

                    <div class="section-title position-relative mb-5">
                        <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Course Detail</h6>
                        <h1 class="display-4">@Model.Name</h1>
                    </div>
                    <img class="img-fluid rounded w-100 mb-4" src="@Model.Image" alt="Image">
                    <p>Tempor erat elitr at rebum at at clita aliquyam consetetur. Diam dolor diam ipsum et, tempor voluptua sit consetetur sit. Aliquyam diam amet diam et eos sadipscing labore. Clita erat ipsum et lorem et sit, sed stet no labore lorem sit. Sanctus clita duo justo et tempor consetetur takimata eirmod, dolores takimata consetetur invidunt magna dolores aliquyam dolores dolore. Amet erat amet et magna</p>

                    <p>
                        @Model.Description
                    </p>
                    @if (!SignInManager.IsSignedIn(User))
                    {
                        <a asp class="btn btn-primary py-2 px-4 d-none d-lg-block" asp-area="Identity" asp-page="/Account/Login">Log in to enroll in a course.</a>
                    }
                     else
                    {
                        @if (Model.SiteUsers.Contains(UserManager.GetUserAsync(User).Result))
                        {

                            <div class="lessons">
                                @foreach(Lesson lesson in Model.Lessons)
                                {          
                                    <a class="btn btn-info mb-2" asp-controller="CourseLesson" asp-action="Details" asp-route-courseId="@Model.CourseId" asp-route-lessonId="@lesson.LessonId">@lesson.Name</a> <br />
                                }
                            </div>
                            <div class="d-inline-block position-relative text-secondary text-uppercase pb-2">You are subscribed to the course</div>
                        }
                         @if (!Model.SiteUsers.Contains(UserManager.GetUserAsync(User).Result))
                        {
                        <form method="POST" asp-controller="Courses" asp-action="Subscribe" asp-route-id="@Model.CourseId">
                            <button class="btn btn-primary py-2 px-4 d-none d-lg-block" type="submit">Subscribe</button>
                        </form>
                        }

                        <div>
                            <i class="fa fa-user" aria-hidden="true"><span class="ml-2">@Model.SiteUsers.Count signed participant</span></i>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>