@using Learning_Site.DTO.CourseManage;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<SiteUser> SignInManager
@inject UserManager<SiteUser> UserManager

@model CourseDTO


@{
    Layout = "_Layout";
    var i = 1;
}

<div class="container-fluid py-5">
    <div class="container py-5">

        <h1>Subscribed courses</h1>
           <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Creator</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
            <tbody>
                @foreach(Course course in Model.SubscribedCourses)
                {
                    <tr>
                    <th scope="row">@i</th>
                        <td><a class="btn btn-info" asp-controller="Courses" asp-action="Details" asp-route-id="@course.CourseId">@course.Name</a></td>
                    <td>@course.Creator.UserName</td>
                    <td>
                        <form method="POST" asp-controller="Courses" asp-action="Unsubscribe" asp-route-id="@course.CourseId">
                                <button class="btn btn-info">Unsubscribe</button>
                        </form>
                    </td>
                    </tr>
                    i++;
                }
            </tbody>
           </table>

    </div>
</div>
